.idea
.vscode
cmake-build-debug
cmake-build-release

.venv
*.pyc
*/__pycache__/*
.coverage
.env%

*.scs~
ostis
ostis-web-platform
prepared_kb

client/node_modules
client/assets/aide-web.js
client/assets/index.html
